<% @aircraft_models.each do |model| %>
    <h2><%= model.name %> - <%= model.icao_code %></h2>

    <table>
        <thead>
            <tr>
                <th>Registration</th>
                <th>Price</th>
                <th>Fees Owed</th>
                <th>Location</th>
                <th>Airframe Time</th>
                <th>Engine Time</th>
            </tr>
        </thead>

        <tbody>
            <% @aircrafts_by_code[model.icao_code].each do |aircraft| %>
                <tr>
                    <td><%= link_to aircraft.registration, "http://server.fseconomy.net/aircraftlog.jsp?id=#{aircraft.id}" %></td>
                    <td><%= number_to_currency aircraft.sale_price %></td>
                    <td><%= number_to_currency aircraft.fees_owed %></td>
                    <td><%= link_to aircraft.current_airport_id, "http://server.fseconomy.net/airport.jsp?icao=#{aircraft.current_airport_id}" %></td>
                    <td><%= format_time aircraft.airframe_time %></td>
                    <td><%= format_time aircraft.engine_time %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
